/* --- search layout --- */

#search-wrapper {
  display: flex;
  width: 95%;
  border-radius: 1rem;
  border: 1px solid var(--search-wrapper-bg);
  background: var(--search-wrapper-bg);
  padding: 0 0.5rem;
  i {
    z-index: 2;
    font-size: 0.9rem;
    color: var(--search-icon-color);
  }
  .fa-times-circle { /* button 'clean up' */
    visibility: hidden;
  }
}

#search-cancel { /* 'Cancel' link */
  color: var(--link-color);
  margin-left: 1rem;
  display: none;
}

#search-input {
  background: center;
  border: 0;
  border-radius: 0;
  padding: 0.18rem 0.3rem;
  color: var(--text-color);

  &:focus {
    box-shadow: none;
    background: center;
    &.form-control {
      &::-webkit-input-placeholder { @include input-placeholder; }
      &::-moz-placeholder { @include input-placeholder; }
      &:-ms-input-placeholder { @include input-placeholder; }
      &::placeholder { @include input-placeholder; }
    }
  }
}

#search-hints {
  // display: none;

  .post-tag {
    display: inline-block;
    line-height: 1rem;
    font-size: 1rem;
    background: var(--search-tag-bg);
    border: none;
    padding: 0.5rem;
    margin: 0 1rem 1rem 0;
    &::before {
      content: "#";
      color: var(--text-muted-color);
      padding-right: 0.2rem;
    }
  }
}

#search-results {
  padding-bottom: 6rem;
  a {
    &:hover {
      @extend %link-hover;
    }

    @extend %link-color;
    @extend %no-bottom-border;
    @extend %heading;

    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  > div {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    i { // icons
      color: #818182;
      margin-right: 0.15rem;
      font-size: 80%;
    }

    > p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
} // #search-results
