/* --- sidebar layout --- */

$tab-count: 5 !default;

$sidebar-display: "sidebar-display";

#sidebar {
  @include pl-pr(0);

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  width: $sidebar-width-medium;
  z-index: 99;
  background: var(--sidebar-bg);

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  a {
    @include sidebar-links;

    &:hover {
      @include no-text-decoration;

      color: #fff;
    }
  }

  #avatar {
    &:hover > a {
      border-color: #fff;
    }

    > a {
      display: block;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      border: 2px solid #b6b6b6;
      overflow: hidden;
      transform: translateZ(0); // fixed the zoom in Safari
      -webkit-transition: border-color 0.35s ease-in-out;
      -moz-transition: border-color 0.35s ease-in-out;
      transition: border-color 0.35s ease-in-out;
    }

    img {
      width: 100%;
      height: 100%;
      -webkit-transition: transform 0.5s;
      -moz-transition: transform 0.5s;
      transition: transform 0.5s;

      &:hover {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  } // #avatar

  .site-title {
    a {
      font-weight: 900;
      font-size: 1.5rem;
      letter-spacing: 0.5px;
    }
  }

  .site-subtitle {
    font-size: 95%;
    color: #828282;
    line-height: 1.2rem;
    word-spacing: 1px;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    min-height: 1rem; // avoid vertical shifting in multi-line words
    user-select: none;
  }

  .nav-link {
    border-radius: 0;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: table-cell;
    vertical-align: middle;
  }

  .nav-item {
    text-align: center;
    display: table;
    height: $tab-height;
    &:hover {
      .nav-link {
        color: #f8f9facf;
      }
    }
    &.active {
      .nav-link {
        color: #fcfcfc;
      }
    }
  }

  ul {
    height: $tab-height * $tab-count;
    margin-bottom: 2rem;
    padding-left: 0;

    li {
      width: 100%;

      &:last-child {
        $cursor-width: 3px;

        a {
          position: relative;
          left: $cursor-width / 2;
          width: 100%;
        }

        &::after { // the cursor
          display: table;
          visibility: hidden;
          content: "";
          position: relative;
          right: 1px;
          width: $cursor-width;
          height: $tab-cursor-height;
          border-radius: 1px;
          background-color: var(--nav-cursor-color);
          pointer-events: none;
        }
      }
    } // li

    @mixin fix-cursor($top) {
      top: $top;
      visibility: visible;
    }

    @for $i from 1 through $tab-count {
      $offset: $tab-count - $i;
      $top: -$offset * $tab-height + ($tab-height - $tab-cursor-height) / 2;

      @if $i < $tab-count {
        > li.active:nth-child(#{$i}),
        > li.nav-item:nth-child(#{$i}):hover {
          ~ li:last-child::after {
            @include fix-cursor($top);
          }
        }
      } @else {
        > li.active:nth-child(#{$i}):last-child::after,
        > li.nav-item:nth-child(#{$i}):last-child:hover::after {
          @include fix-cursor($top);
        }
      }

    } // @for

  } // ul

  .sidebar-bottom {
    font-size: 1.2rem;
    margin-bottom: .5rem;

    @include ml-mr(auto);
    @include pl-pr(1rem);

    %icon {
      width: 2.4rem;
      text-align: center;
    }

    a {
      @extend %icon;
    }

    #mode-toggle-wrapper {
      @extend %icon;

      i {
        @include sidebar-links;

        margin: 0;
        font-size: 1.05rem;
        text-align: center;
        position: relative;
        bottom: 1px;
      }

    }

    .icon-border {
      background-color: #525354;
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 50%;
      position: relative;
      top: 12px;
    }

    a:hover,
    #mode-toggle-wrapper i:hover {
      color: #fff;
    }

  } // .sidebar-bottom

  .site-rights {
    margin-bottom: 1rem;
    @include pl-pr(1rem);
    font-size: .5rem;
    text-align: center;
    color: rgba(255,255,255,0.25);
  }
} // #sidebar
